.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 16px;
}

.button{
  border: none;
  border-radius: 50px;
  padding: 3px 9px;
  cursor: pointer;
  background-color: white;
}

.artIcon{
  width: 100px;
  height: 35px;
}

.main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  padding-top: 15px;
}

.nftImage{
  width: 180px;
  height: 180px;
  border-radius: 5px;
}

.nftText{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.card{
  width: clamp(120px, 30vw, 200px);
  height: 200px;
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.title-gallery{
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.cardImage{
  width: 30px;
  height: 30px;
  margin: 0px 5px 5px 5px;
}

.counter{
  position: absolute;
  top: 15px;
  right: -8px;
  font-size: 12px;
}